#FormTable {
  display: flex;
  justify-content: center;
  #FormTableLink {
    width: 88%;
    border-radius: 5px;
    .Form__title {
      .LinkFB {
        text-align: center;
        width: 60%;
      }
      .evaluate {
        text-align: center;
      }
      .custom {
        text-align: center;
        width: 10%;
      }
    }
    .custom__edit span {
      cursor: pointer;
      padding: 10px 35px;
    }
    .NameLinkFB .NameLink {
      line-height: 24px;
      padding-left: 10px;
      color: rgb(27, 27, 248);
      font-size: small;
    }
   
  }
}
