button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #FFD700;
  }
  .off {
    color: #ccc;
  }

.star__rating{
    display: flex;
    justify-content: center;
    .star{
        font-size: 18px;
    }
}