#cadres {
  .customer__care {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #1869c8;
    margin: 20px 0 20px 0;
  }
  .customer__clock {
    display: flex;
    justify-content: center;
    margin: 15px 0 35px 0;
  }
  .customer__line{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(168, 163, 163);
  }
  #customer__care__form {
    width: 80vw;
    margin-bottom: 50px;
    .info__cadres {
      .specialized select {
        height: 25px;
        width: 62%;
      }

      .Name__CVT input,
      .Department input {
        padding-left: 5px;
        height: 25px;
        width: 40%;
        text-align: center;
      }
      .Name__CVT {
        input {
          
        }
          select {
            width: 100px;
            option {
              // text-align: center;
            }
          }
      }
    }
    .info__cadres .Name {
      margin-right: 10px;
    }
    .Department{
      select {
        min-width: 200px;
        option {
          // text-align: center;
        }
      }
    }
    .Link__FB input {
      padding-left: 5px;
      margin: 50px 20px 0 10px;
      width: 78%;
    }
    .Link__FB button {
      border: 2px solid #1378c0;
      width: 80px;
      height: 32px;
      border-radius: 6px;
      background-color: white;
      color: #1378c0;
      font-family: Arial, Helvetica, sans-serif;
    }
    .Link__FB button:hover {
      background-color: #1378c0;
      color: white ;
    }
  }
}
