.NavBar{

    .Row_NavBar{
        width: 100%;
        height: 70px;
        margin-top:20px;
        border-radius: 10px;
        background:rgb(135,206,250);
        
        // margin-left: 5px;
        // margin-right: 5px;
        .logo{
            display: flex;
            margin-left: 10px;
            margin-top: 5px;
            img{
                width: 15%; height:60px; margin-left: 30px;
            }
            a{
                color: red;
                font-weight: 600;
                font-size: 20px;
                font-family: "Comic Sans MS", cursive, sans-serif;
            }
            .link-wrap {
                .btn-link {
                    border: 1px solid #000 ;
                    .link{
                    text-decoration: none;
                    // color: #fff;
                    }
                }
            }
        }
        .btn-login{
            display: flex;
            justify-content: right;
            margin-right: 30px; height: 50px;
            margin-top: 10px;
        }
    }
}