.Table {
  position: relative;
  height: 500px;
  #FormTable {
    display: flex;
    justify-content: center;
    #FormTableLink {
      width: 88%;
      border-radius: 5px;
      .Form__title {
        .LinkFB {
          text-align: center;
          width: 60%;
        }
        .evaluate {
          text-align: center;
        }
        .custom {
          text-align: center;
          width: 10%;
        }
      }
      .custom__edit span {
        cursor: pointer;
        padding: 10px 35px;
      }
      .custom__edit:hover #TrashCan {
        color: red;
      }
      .NameLinkFB .NameLink {
        border: 0px;
        width: 92%;
        line-height: 24px;
        color: rgb(27, 27, 248);
        font-size: 14px;
        padding-left: 10px;
        background-color: #fff;
      }
      .NameLinkFB .iconCopy {
        font-size: large;
        margin-top: 2px;
        padding: 3px;
        border: 1px solid #f1f1f6;
        border-radius: 10px;
        background-color: #e2e5de;
        margin-left: 12px;
        user-select: none;
        cursor: pointer;
      }
      .iconCopy:hover {
        background-color: #b2beb5;
      }

      // .paginationDisabled a {
      //   color: grey;
      //   background-color: grey;
      // }
    }
  }
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-top: 20px;
    user-select: none;

  }
  .pagination {
    position: absolute;
    bottom: 25px;
    right: -15px;
    .paginationBttns a {
      text-decoration: none;
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
      border: 1px solid #000;
      color: #000;
      font-size: 10px;
      cursor: pointer;
    }
    .paginationBttns :hover a {
      color: white;
      background-color:#4D91C6;
      padding: 15px;
      font-size: 15px;
    }
    .paginationActive a {
      color: white;
      background-color:#4D91C6;
    }
  }
}
